

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Chuyển hướng toàn bộ yêu cầu không phải file/thư mục thực đến index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
