.cate__name {
  font-size: var(--font-s-title);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 4px 0;
  line-height: var(--font-s-title);
  border-bottom: 3px solid var(--primary-color);
}

.filter-choice-title {
  font-size: 1.5rem;
  width: max-content;
  padding: 6px;
  margin: 0 8px 0 0;
}

.filter-choice {
  font-size: 1.4rem;
  margin: 0 2px;
  padding: 4px 10px;
  border-radius: 15px;
  background: #707070;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer;
  width: max-content;
}

.filter-choice i {
  margin-left: 4px;
  -webkit-text-stroke: 1px;
}

.filter-choice:hover i {
  color: #ff7b7b;
}

.cate__filter {
  /* display: none; */
  padding: 10px;
  border: var(--border-general);
}

.cate__filter__box {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.cate__filter__box:last-child {
  border: none;
  margin-bottom: 0;
}

.cate__filter__box__title {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.cate__filter__box__title i {
  transform: rotate(180deg);
  transition: transform 0.3s ease 0s;
}

.cate__filter__box__body {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease 0s;
  overflow: hidden;
}

.cate__filter__box__body--range {
  margin-top: 4px;
  flex-direction: row;
  justify-content: space-between;
}

.cate__filter__box__body--range input {
  height: 30px;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 49%;
  text-indent: 4px;
}

.cate__filter__box__item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 4px;
}

.cate__filter__box__item-check {
  display: block;
  height: 20px;
  width: 20px;
}

.cate__filter__box__item-name {
  display: block;
  padding-left: 10px;
  line-height: 2rem;
}

.cate__filter__box__apply {
  margin-top: 8px;
}

.cate__filter__box__apply button {
  font-size: 1.4rem;
  border: var(--border-general);
  background: var(--background-gradient);
  font-weight: 600;
  padding: 5px 12px;
}

.cate__filter__box__apply button:hover {
  opacity: 0.8;
  color: #fff;
}

.cate__filter-close-btn {
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: space-between;
}

.cate__filter-close-btn i::before {
  -webkit-text-stroke: 0.8px;
  font-size: 2rem;
  padding: 4px;

}

.js-filters_are_applied {
  margin-top: 50px;
}

.sort__container {
  z-index: 1;
}