/* extra small to medium */
@media (max-width: 992px) {
  .sort {
    width: 100%;
  }

  .cate__filter-btn,
  .cate__sort-btn {
    font-size: 1.6rem;
    border: 1px solid #d0d0d0;
    background-color: #eee;
    border-radius: 4px;
    width: 50%;
    padding: 6px;
    display: flex;
    justify-content: space-between;
  }

  .sort__container {
    width: 180px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #eee;
    padding: 0;
  }

  .sort__item {
    /* padding: 6px;
    font-size: 1.6rem;
    width: 100%; */
  }

}

/* sm to md */
@media (min-width: 577px) and (max-width: 992px) {

  /* slideshow */
  .slideshow .suggest {
    bottom: -40px;
  }

  .best-deal {
    margin-top: 50px !important;
  }

  .slideshow .suggest .suggest-product>img {
    max-height: 70px;
  }
}

/* từ large trở đi */
@media (min-width: 992px) {
  .sort {
    position: inherit;
  }

  .sort__container {
    border: none;
    display: flex;
    flex-direction: row;
  }

  .sort__item {
    border: var(--border-general);
  }

  .cate__sort-btn span,
  .cate__sort-btn i {
    display: none;
  }

  .cate__sort-btn {
    flex-direction: row;
    padding: 0;
    border: none;
  }
}


/* extra small */
@media (max-width: 576px) {
  .col-0 {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }

  .carousel .carousel-item {
    height: 150px !important;
  }

  .carousel-item img {
    top: 0 !important;
    left: 0 !important;
    height: auto !important;
    min-height: 200px !important;
  }
}


/* small */
@media (min-width: 577px) and (max-width: 768px) {
  .col-sm-0 {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }

  .slideshow__suggest__welcome-txt {
    font-size: 1.2rem;
  }

  .slideshow__suggest {
    height: 120px;
  }

  .slideshow__suggest-container {
    bottom: -50px;
  }

  .carousel .carousel-item {
    height: 250px !important;
  }

  .carousel-item img {
    top: 0 !important;
    left: 0 !important;
    min-height: 250px !important;
  }

  .category .item {
    margin: 4px;
    padding: 10px;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 992px) {
  .carousel .carousel-item {
    height: 300px !important;
  }

  .carousel-item img {
    top: 0 !important;
    left: 0 !important;
    min-height: 300px !important;
  }
}

/* large */
@media (min-width: 992px) and (max-width: 1200px) {
  .col-lg-0 {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }
}

/* x large */
@media (min-width: 1201px) and (max-width: 1400px) {
  .col-xl-0 {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }
}

/* xx large */
@media (min-width: 1401px) {
  .col-xxl-0 {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
    margin: 0;
  }
}