/* extra small to medium */
@media (max-width: 992px) {
    .header__right {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(77, 74, 74, 0.6);
        display: none;
    }
    .header__right__container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        flex-direction: column;
        background-color: #fff;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .header__right__item--close-btn {
        align-self: flex-end;
    }
    .cate__filter-btn,
    .cate__sort-btn {
        font-size: 1.6rem;
        position: relative;
        border: 1px solid #d0d0d0;
        background-color: #eee;
        border-radius: 4px;
    }
    .sort__container {
        position: absolute;
        top: 0;
        left: 160px;
        width: 160px;
        height: auto;
        z-index: 1;
        display: none;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #eee;
    }
    .sort__item {
        border: var(--border-general);
        font-size: 1.6rem;
        border-radius: 4px;
    }
    .cate__filter--overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 4;
        display: none;
        justify-content: flex-end;
    }
    .cate__filter {
        width: 50%;
        overflow-y: scroll;
        background-color: #fff;
    }
    .cate__filter-close-btn {
        display: flex;
    }
}


 /* từ large trở đi */
 @media (min-width: 992px) {
    .cate__sort-btn span,
    .cate__sort-btn i{
        display: none;
    }
    .cate__sort-btn {
        flex-direction: row;
        padding: 0;
        border: none;
    }
    .sort__container {
        display: flex;
        flex-direction: row;
    }
    .sort__item {
        padding: 6px;
        font-size: 1.6rem;
        margin: 0 6px;
        background-color: #eee;
    }
    .sort__item:first-child {
        margin-left: 0;
    }
}


/* extra small */
@media (max-width: 576px) {
    .col-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
    .header {
        height: calc(var(--header-size) - 20px);
    }
    .mgt-header {
        margin-top: calc((var(--header-size)-20px));
    }
    #header__right {
        width: 70%;
    }
    .header__logo {
        width: 100%;
        height: calc(var(--header-size) - 30px);
    }
    .slideshow__suggest-container {
        bottom: -160px;
    }
    .carousel .carousel-item {
        height: 250px;
    }
    .carousel-item img {
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 250px;
    }
    .slideshow__suggest__content p {
        font-size: 1.3rem;
    }
    .category__list {
        margin-top: 180px;
    }
    .slideshow__suggest__welcome-txt {
        font-size: 1.2rem;
        padding: 4px;
    }
    .slideshow__suggest {
        height: 120px;
    }
}


/* small */
@media (min-width: 577px) and (max-width: 768px) {
    .col-sm-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
    .slideshow__suggest__welcome-txt {
        font-size: 1.2rem;
    }
    .slideshow__suggest {
        height: 120px;
    }
}

/* medium */
@media (min-width: 769px) and (max-width: 992px) {
    .col-md-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
}

/* large */
@media (min-width: 992px) and (max-width: 1200px) {
    .col-lg-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
    .header__logo {
        width: 100%;
        height: calc(var(--header-size) - 30px);
    }
}

/* x large */
@media (min-width: 1201px) and (max-width: 1400px) {
    .col-xl-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
}

/* xx large */
@media (min-width: 1401px) {
    .col-xxl-0 {
        flex: 0 0 0;
        max-width: 0;
        padding: 0;
        margin: 0;
    }
}


