/* mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --header-size: 50px;
        --font-s-title: 2rem;
    }
    .hide-on-mb-and-tab {
        display: none;
    }
    .header__logo-mobile-tablet {
        display: block;
    }
    .header__nav__navigation-icon {
        padding: 10px;
        font-size: 2rem;
        display: block;
        cursor: pointer;
        position: relative;
    }
    .header__nav__navgigation__emerge {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: var(--header-size);
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
    }
    .slidershow__all-category__list {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        background-color: #fff;
        width: 50%;
        box-shadow: var(--box-shadow);
    }
    .slidershow__slides--pre {
        left: 0;
    }
    .slidershow__suggest-container {
        left: 0;
        bottom: 0;
    }
    .slidershow__suggest__welcome-txt {
        margin: 0;
    }
    .slidershow {
        height: 400px;
    }
    .row {
        margin: 0;
    }
    .sort-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10px;
        left: 100px;
        z-index: 1;
        width: 180px;
        height: 170px;
        align-items: flex-start;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
    }
    .sort__item {
        padding: 0;
        padding-left: 4px;
        margin: 0;
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: var(--border-general);
        border-radius: 0;
        background-color: #f3f3f3;
    }
    .sort__item:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }
    .sort__item:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .filter-on-mobile {
        display: block;
    }
    .cate__filter {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
        padding: 0 10px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .tag-free-ship {
        margin-left: 4px;
    }
    .header__search__popup {
        top: calc(var(--header-size) - 8px);
    }
    .slidershow__all-category__list {
        padding: 20px;
    }
    .slidershow-container > .grid.wide {
        max-width: none;
        margin: 0;
        width: 100%;
    }
    .container__product {
        margin: 10px 0;
    }
    .best-deal__product--first {
        margin: 0 4px 4px 4px;
    }
    .best-deal__product--second {
        margin: 4px 4px;
    }
    .resp-mgr-10 {
        margin-right: 10px;
    }
    .container__title {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .container__title__see-all-products {
        margin-left: 10px;
        width: 120px;
    }
    .products-item__avata {
        height: 120px;
    }
    .products-item__price-container {
        display: block;
    }
    .category__list {
        padding: 0;
    }
    .category__item {
        width: 120px;
        margin: 0;
    }
    .category__item img {
        /* width: 100%; */
    }
    .products-item {
        margin: 8px 0;
    }
    .product-specifications__item-content span:first-child {
        width: 250px;
    }
    

}
/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .padd-r-6 {
        padding-right: 0;
    }
    .wrapper {
        padding: 0 10px;
    }
    .header__left,
    .header__right {
        width: auto;
    }
    .header__item {
        padding: 6px;
        font-size: var(--text-size);
    }
    .header__search {
        width: 200px;
        margin: 0 4px;
    }
    .header__search__popup {
        width: 200%;
    }
    .header__cart__icon {
        padding: 4px;
        font-size: var(--text-size);
    }
    .header__cart__icon::after {
        width: 10px;
        height: 10px;
        color: #fff;
        background-color: transparent;
        text-shadow: 0px 0px 5px #000;
    }
    .header__cart__number {
        top: -6px;
        left: 10px;
    }
    .slidershow {
        height: 250px;
        margin-top: calc(var(--header-size) + 10px);
    }
    .slidershow__suggest-container {
        top: 140px;
    }
    .slidershow__suggest {
        margin: 4px 0;
        height: 120px;
    }
    .slidershow__suggest__title {
        max-height: 30px;
    }
    .best-deal__product--second,
    .best-deal__product--first {
        margin-bottom: 4px;
    }
    .products-item__price-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .products-item {
        margin: 4px 0;
    }
    .container__product {
        margin-right: 0;
    }
    .container__title {
        width: 70%;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .container__title__see-all-products {
        width: 30%;
        height: 28px;
    }
    .category {
        margin-top: 170px;
    }
    .category__list {
        padding: 0 10px;
    }
    .category__item {
        margin: 0;
        width: 90px;
    }
    .category__item::before {
        width: 100%;
        height: 70px;
    }
    .category__item img {
        width: 70px;
        height: 70px;
    }
    .category__item h5 {
        width: 70px;
        overflow: hidden;
    }
    .footer__list {
        display: none;
    }
    .copyright {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .copyright__social {
        margin: 6px 0 0 0;
    }
    .cart__header__remove-all {
        padding-right: 4px;
    }
    .cart__item {
        flex-wrap: wrap;
        justify-content: flex-start;
        /* width: 100vh; */
    }
    .cart__item__name {
        padding: 0;
        margin-bottom: 10px;
    }
    .cart__item__img {
        margin: 0 auto;
    }
    .cart__item__img img {
        width: 60px;
        height: 60px;
    }
    .cart__item__unit-price {
        padding-left: 0;
    }
    .cart__item__quantity {
        margin: 0 auto;
    }
    .cart__item__total-price {
        padding-right: 0;
    }
    .product-left {
        width: 60%;
        justify-self: center;
        text-align: center;
    }
    .resp-center {
        display: flex;
        justify-content: center;
    }
    .product-left__img {
        padding: 10px;
    }
    .product-right__price,
    .product-right__title {
        margin-left: 4px;
    }
    .mgt-header {
        margin-top: calc(var(--header-size));
    }
    .cate__name {
        margin: 10px 0;
    }
    .category__list {
        margin-top: 170px;
    }
}